@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1800px;
  font-family: 'Lato', serif;
  color: #212121;
}
.error{
  padding: 30px;
  color: #d81212;
  font-size: 24px;
  font-weight: bold;
}
.top-style{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.second-section-style{
  background-color: #f4f4f4;
}
.header-style{
  background-color: #006b60;
  height: 100vh; 
}
.hero-container{
  background-color: #006b60;
  height: 100vh;
  padding-top: 200px;
}
.inner-hero-container{
  margin-left: 50px;
  margin-right: 70px;
  line-height: 1.8 em;
}
.headline{
  font-size: 36px;
  font-weight: bold;
  color: #f4f4f4;
  margin-bottom: 40px;
}
.hero-text{
  color: #f4f4f4;
  font-size: 30px;
  font-weight: 300;
}
.form-container{
  align-self: center;
  margin-right: 50px;
  margin-left: 50px;
}
form{
  align-self: center;
}
label{
  font-size: 21px;
  margin-bottom: 2px;
}
::placeholder{
  opacity: 0.5;
}
.holds-results{
  margin-bottom: 10px;
  border: 1px #006b60 solid;
}
.btn-primary{
  padding: 15px 10px;
  background-color: #006b60;
  text-transform: uppercase;
  color: #f4f4f4;
  border: none;
  cursor: pointer;
}
button{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  border: none;
}
.btn-primary:hover{
  background-color: #01413b;
}
.btn-secondary{
  border: none;
  background-color: #f4f4f4;
  color: #006b60;
  padding: 15px 5px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-secondary:hover{
  background-color: #cffcf8;
}


@media screen and (max-width: 999px){
  .headline{
    font-size: 30px;
  }
 .hero-text{
   font-size: 24px;
 }
}
@media screen and (max-width: 821px){
  .headline{
    margin-bottom: 20px;
    font-size: 24px;
  }
  .hero-text{
    font-size: 20px;
  }
  label{
    font-size: 16px;
  }
}
@media screen and (max-width: 695px){
  .top-style{
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .headline{
    font-size: 36px;
    margin-bottom: 20px;
  }
  .hero-text{
    font-size: 30px;
  }
  .form-container{
    margin-top: -245px;
    margin-bottom: 100px;
    padding: 80px;
    background-color: #fff;
  }
  label{
    font-size: 20px;
  }
  .btn-primary{
    margin-bottom: 10px;
  }
  .btn-secondary{
    margin-bottom: 100px;
  } 
}
@media screen and (max-width: 600px){
  .form-container{
    padding: 50px;
  }
  label{
    font-size: 12px;
  }
  .headline{
    font-size: 28px;
  }
  .hero-text{
    font-size: 24px;
  }
}
@media screen and (max-width: 380px){
  .form-container{
    padding: 30px;
    margin-top: -150px;
  }
  label{
    font-size: 12px;
  }
  ::placeholder{
    font-size: 8px;
  }
  .headline{
    font-size: 24px;
  }
  .hero-text{
    font-size: 20px;
  }
}
@media screen and (max-width: 330px){
  .form-container{
    padding: 20px;
    margin-top: -80px;
  }
  
}